{% extends "base.html.twig" %}

{% set page_title = 'Tables plongée Create' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/crud.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="main">
            {{ form_start(table_form)}}
            <form method="POST">
                    <div class="group">
                        {{ form_widget(table_form.nom) }}
                        {{ form_errors(table_form.nom) }}
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nom:</label>

                    </div>
                    {{ form_widget(table_form.btnCreate) }}

                {{ form_rest(table_form)}}
            </form>
            {{ form_end(table_form)}}
        </div>
    </div>
{% endblock %}