{% extends "base.html.twig" %}

{% set page_title = 'Tables plongée Create' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/table_plongee.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
        <div class="create-part">
            {{ form_start(table_form)}}
            <form method="POST">
                <span class="create-title"> Nom: </span>
                    {{ form_widget(table_form.nom) }}
                    {{ form_errors(table_form.nom) }}
                    {{ form_widget(table_form.btnCreate) }}
            
                {{ form_rest(table_form)}}
            </form>
            {{ form_end(table_form)}}
        </div>
    </div>
{% endblock %}